@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap; /*로딩 되지 않았을 때 시스템 폰트*/
  src: url('PoppinsBold.ttf') format('ttf');
  /* unicode-range:U+AC00-D7A3,U+0030-0039;;	/* 한글과 숫자 => 현재 전체 텍스트 폰트로 적용*/
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap; /*로딩 되지 않았을 때 시스템 폰트*/
  src: url('PoppinsSemiBold.ttf') format('ttf');
  /* unicode-range:U+AC00-D7A3,U+0030-0039;;	/* 한글과 숫자 => 현재 전체 텍스트 폰트로 적용*/
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400; /*Regular*/
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500; /*Medium*/
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
    format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600; /*SemiBold*/
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800; /*ExtraBold*/
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff')
    format('woff');
  font-style: normal;
}
